{% extends '../templates/LostPeople/baseLost2.html' %}

{% block con %}

   <div class="container1">
    <div class="login">
          <h1>WEL<span>COME</span></h1>
         <form action="{% url 'login' %}" method="post">
                {% csrf_token %}

          <div class="form-group">
            <label for="id_username">User Name</label>
            <input type="text" name="username" class="form-control" id="id_username" aria-describedby="emailHelp" placeholder="Enter UserName">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="id_password">Password</label>
            <input type="password" name="password" class="form-control" id="id_password" placeholder="Password">
          </div>

  <button type="submit" id="login" name="login" class="btn btn-outline-success">Login</button>
</form>
            <p>Not got an account? <a href="{% url 'signup' %}">Sign Up</a></p>

    </div>
    </div>

{% endblock %}
